<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Tui quê Bình Đại</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Bootstrap icons-->
    <!--        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">tuibinhdai.xyz</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-15">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Nơi tổng hợp những thông tin quen thuộc</h1>
                    <p class="lead text-white-50 mb-4">
                        <a href="#chanhxe"
                           class="nav-link fw-bold text-white px-2 py-2 rounded-3"
                           style="background-color: rgba(255, 193, 7, 0.25); border: 1px solid rgba(255, 193, 7, 0.5);display: inline-flex;
                                  align-items: center; gap: 6px;">
                            Chành xe
                        </a>
                        <a href="#chanhxe"
                           class="nav-link fw-bold text-white px-2 py-2 rounded-3"
                           style="background-color: rgba(255, 193, 7, 0.25); border: 1px solid rgba(255, 193, 7, 0.5);display: inline-flex;
                                  align-items: center; gap: 6px;">
                            Xe buýt
                        </a>
                        <a href="#chanhxe"
                           class="nav-link fw-bold text-white px-2 py-2 rounded-3"
                           style="background-color: rgba(255, 193, 7, 0.25); border: 1px solid rgba(255, 193, 7, 0.5);display: inline-flex;
                                  align-items: center; gap: 6px;">
                            Karaoke tay vịn
                        </a>
                        <a href="#chanhxe"
                           class="nav-link fw-bold text-white px-2 py-2 rounded-3"
                           style="background-color: rgba(255, 193, 7, 0.25); border: 1px solid rgba(255, 193, 7, 0.5);display: inline-flex;
                                  align-items: center; gap: 6px;">
                            Bia ôm
                        </a>
                          phà, xe ôm, quán nhậu, bia ôm, karaoke, karaoke tay vịn</p>
                    <!--                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">-->
                    <!--                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>-->
                    <!--                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Giờ chạy xe buýt</h2>
                <!--                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence-->
                <!--                    and probably just keep going until we run out of words.</p>-->
                <!--                <a class="text-decoration-none" href="#!">-->
                <!--                    Call to action-->
                <!--                    <i class="bi bi-arrow-right"></i>-->
                <!--                </a>-->
                <!--                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i>-->
                <!--                </div>-->
                <!--                <div>-->
                <div><strong>Từ Bình Đại đến bến xe Bến Tre</strong></div>
                <div>Chuyến 4h00 sớm quá nên đã bỏ</div>
                <div><strong>Chuyến đầu tiên 4h30</strong></div>
                <div><strong>Chuyến cuối cùng 17h30</strong></div>
                <div>Để hỗ trợ bà con tan làm kịp bắt xe buyết về nhà nên chuyến cuối là 17h30</div>
                <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1780467437/Background1_eo7yfo.png"
                     style="max-width: 100%; height: auto;">
                <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1780467434/Background2_ua5e7j.png"
                     style="max-width: 100%; height: auto;">
                <!--                </div>-->
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <!--                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i>-->
                <!--                </div>-->
                <h2 id="chanhxe" class="h4 fw-bolder text-primary mb-4 d-flex align-items-center gap-3">
                    Chành xe
                </h2>
                <div>
                    <p><strong>Kim Lan</strong></p>
                    <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1781663331/KimLan1_ukblvs.jpg"
                         style="max-width: 100%; height: auto;">
                    <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1781663331/KimLan2_bpqqn4.jpg"
                         style="max-width: 100%; height: auto;">
                </div>
                <hr/>
                <hr/>
                <div><strong>Công Tạo</strong></div>
                <p>Chành xe đang còn thu thập thông tin sẽ cập nhật lên sớm</p>
                <hr/>
                <hr/>
                <div>
                    <p><strong>Hiệp Thành (Tám Lệ)</strong></p>
                    <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1782370221/36f3987019af98f1c1be3_sx4mxa.jpg"
                         style="max-width: 100%; height: auto;">
                    <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1782370220/a86997e916369768ce272_vypsjm.jpg"
                         style="max-width: 100%; height: auto;">
                    <img src="https://res.cloudinary.com/drybhsgu9/image/upload/v1782370221/e5384fbbce644f3a16751_ytjlma.jpg"
                         style="max-width: 100%; height: auto;">

                </div>
                <!--                <a class="text-decoration-none" href="#!">-->
                <!--                    Call to action-->
                <!--                    <i class="bi bi-arrow-right"></i>-->
                <!--                </a>-->
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h4 fw-bolder">Còn đang phát triển</h2>
                <!--                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence-->
                <!--                    and probably just keep going until we run out of words.</p>-->
                <!--                <a class="text-decoration-none" href="#!">-->
                <!--                    Call to action-->
                <!--                    <i class="bi bi-arrow-right"></i>-->
                <!--                </a>-->
            </div>
        </div>
    </div>
</section>
<!-- Pricing section-->
<!--<section class="bg-light py-5 border-bottom">-->
<!--    <div class="container px-5 my-5">-->
<!--        <div class="text-center mb-5">-->
<!--            <h2 class="fw-bolder">Pay as you grow</h2>-->
<!--            <p class="lead mb-0">With our no hassle pricing plans</p>-->
<!--        </div>-->
<!--        <div class="row gx-5 justify-content-center">-->
<!--            &lt;!&ndash; Pricing card free&ndash;&gt;-->
<!--            <div class="col-lg-6 col-xl-4">-->
<!--                <div class="card mb-5 mb-xl-0">-->
<!--                    <div class="card-body p-5">-->
<!--                        <div class="small text-uppercase fw-bold text-muted">Free</div>-->
<!--                        <div class="mb-3">-->
<!--                            <span class="display-4 fw-bold">$0</span>-->
<!--                            <span class="text-muted">/ mo.</span>-->
<!--                        </div>-->
<!--                        <ul class="list-unstyled mb-4">-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                <strong>1 users</strong>-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                5GB storage-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Unlimited public projects-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Community access-->
<!--                            </li>-->
<!--                            <li class="mb-2 text-muted">-->
<!--                                <i class="bi bi-x"></i>-->
<!--                                Unlimited private projects-->
<!--                            </li>-->
<!--                            <li class="mb-2 text-muted">-->
<!--                                <i class="bi bi-x"></i>-->
<!--                                Dedicated support-->
<!--                            </li>-->
<!--                            <li class="mb-2 text-muted">-->
<!--                                <i class="bi bi-x"></i>-->
<!--                                Free linked domain-->
<!--                            </li>-->
<!--                            <li class="text-muted">-->
<!--                                <i class="bi bi-x"></i>-->
<!--                                Monthly status reports-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Pricing card pro&ndash;&gt;-->
<!--            <div class="col-lg-6 col-xl-4">-->
<!--                <div class="card mb-5 mb-xl-0">-->
<!--                    <div class="card-body p-5">-->
<!--                        <div class="small text-uppercase fw-bold">-->
<!--                            <i class="bi bi-star-fill text-warning"></i>-->
<!--                            Pro-->
<!--                        </div>-->
<!--                        <div class="mb-3">-->
<!--                            <span class="display-4 fw-bold">$9</span>-->
<!--                            <span class="text-muted">/ mo.</span>-->
<!--                        </div>-->
<!--                        <ul class="list-unstyled mb-4">-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                <strong>5 users</strong>-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                5GB storage-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Unlimited public projects-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Community access-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Unlimited private projects-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Dedicated support-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Free linked domain-->
<!--                            </li>-->
<!--                            <li class="text-muted">-->
<!--                                <i class="bi bi-x"></i>-->
<!--                                Monthly status reports-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <div class="d-grid"><a class="btn btn-primary" href="#!">Choose plan</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Pricing card enterprise&ndash;&gt;-->
<!--            <div class="col-lg-6 col-xl-4">-->
<!--                <div class="card">-->
<!--                    <div class="card-body p-5">-->
<!--                        <div class="small text-uppercase fw-bold text-muted">Enterprise</div>-->
<!--                        <div class="mb-3">-->
<!--                            <span class="display-4 fw-bold">$49</span>-->
<!--                            <span class="text-muted">/ mo.</span>-->
<!--                        </div>-->
<!--                        <ul class="list-unstyled mb-4">-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                <strong>Unlimited users</strong>-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                5GB storage-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Unlimited public projects-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Community access-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Unlimited private projects-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Dedicated support-->
<!--                            </li>-->
<!--                            <li class="mb-2">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                <strong>Unlimited</strong>-->
<!--                                linked domains-->
<!--                            </li>-->
<!--                            <li class="text-muted">-->
<!--                                <i class="bi bi-check text-primary"></i>-->
<!--                                Monthly status reports-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Choose plan</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Testimonials section-->
<!--<section class="py-5 border-bottom">-->
<!--    <div class="container px-5 my-5 px-5">-->
<!--        <div class="text-center mb-5">-->
<!--            <h2 class="fw-bolder">Customer testimonials</h2>-->
<!--            <p class="lead mb-0">Our customers love working with us</p>-->
<!--        </div>-->
<!--        <div class="row gx-5 justify-content-center">-->
<!--            <div class="col-lg-6">-->
<!--                &lt;!&ndash; Testimonial 1&ndash;&gt;-->
<!--                <div class="card mb-4">-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>-->
<!--                            </div>-->
<!--                            <div class="ms-4">-->
<!--                                <p class="mb-1">Thank you for putting together such a great product. We loved working-->
<!--                                    with you and the whole team, and we will be recommending you to others!</p>-->
<!--                                <div class="small text-muted">- Client Name, Location</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; Testimonial 2&ndash;&gt;-->
<!--                <div class="card">-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i>-->
<!--                            </div>-->
<!--                            <div class="ms-4">-->
<!--                                <p class="mb-1">The whole team was a huge help with putting things together for our-->
<!--                                    company and brand. We will be hiring them again in the near future for additional-->
<!--                                    work!</p>-->
<!--                                <div class="small text-muted">- Client Name, Location</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Contact section-->
<!--<section class="bg-light py-5">-->
<!--    <div class="container px-5 my-5 px-5">-->
<!--        <div class="text-center mb-5">-->
<!--            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>-->
<!--            <h2 class="fw-bolder">Get in touch</h2>-->
<!--            <p class="lead mb-0">We'd love to hear from you</p>-->
<!--        </div>-->
<!--        <div class="row gx-5 justify-content-center">-->
<!--            <div class="col-lg-6">-->
<!--                &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--                &lt;!&ndash; * * SB Forms Contact Form * *&ndash;&gt;-->
<!--                &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--                &lt;!&ndash; This form is pre-integrated with SB Forms.&ndash;&gt;-->
<!--                &lt;!&ndash; To make this form functional, sign up at&ndash;&gt;-->
<!--                &lt;!&ndash; https://startbootstrap.com/solution/contact-forms&ndash;&gt;-->
<!--                &lt;!&ndash; to get an API token!&ndash;&gt;-->
<!--                <form id="contactForm" data-sb-form-api-token="API_TOKEN">-->
<!--                    &lt;!&ndash; Name input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."-->
<!--                               data-sb-validations="required"/>-->
<!--                        <label for="name">Full name</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Email address input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input class="form-control" id="email" type="email" placeholder="name@example.com"-->
<!--                               data-sb-validations="required,email"/>-->
<!--                        <label for="email">Email address</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Phone number input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"-->
<!--                               data-sb-validations="required"/>-->
<!--                        <label for="phone">Phone number</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Message input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."-->
<!--                                  style="height: 10rem" data-sb-validations="required"></textarea>-->
<!--                        <label for="message">Message</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit success message&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
<!--                    &lt;!&ndash; has successfully submitted&ndash;&gt;-->
<!--                    <div class="d-none" id="submitSuccessMessage">-->
<!--                        <div class="text-center mb-3">-->
<!--                            <div class="fw-bolder">Form submission successful!</div>-->
<!--                            To activate this form, sign up at-->
<!--                            <br/>-->
<!--                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit error message&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
<!--                    &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--                    <div class="d-none" id="submitErrorMessage">-->
<!--                        <div class="text-center text-danger mb-3">Error sending message!</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                    <div class="d-grid">-->
<!--                        <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Website được tạo bởi Nguyễn Quốc Thiện</p></div>
    <div class="container px-5"><p class="m-0 text-center text-white">Mọi góp ý xin hãy nhắn tin cho mình
        0975.71.38.34</p></div>
    <div class="container px-5"><p class="m-0 text-center text-white">Phi lợi nhuận và mang đến sự hữu ích cho dân Bình
        Đại</p></div>
</footer>
<!-- Bootstrap core JS-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
